# Supabase (public)
VITE_SUPABASE_PROJECT_ID="zyisdjppnxdfoepzbkax"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5aXNkanBwbnhkZm9lcHpia2F4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkxNDE5NjEsImV4cCI6MjA4NDcxNzk2MX0.-ZNWf7vnWzvs1HmzI1k6jaYMcAqnplzUPUCZl5O8_Bw"
VITE_SUPABASE_URL="https://zyisdjppnxdfoepzbkax.supabase.co"
